@charset "utf-8";
//中文字符编码格式
//:单行注释，编译后不显示

/* 多行注释：压缩后不显示 */


/*！ 强制注释：一直显示 */

$min_W:1200px;
$mll-footer_W:100%;
$footer_W:100px;
$footer_H:100px;
$pad_top:0;
$footer_bg:#f8f8f8;
$position_cen:center;
$a_color:#333;
$a_text_Dec:none;
$distance_0:0;
$display_ib:inline-block;
$font_daxiao:14px;
$color_black:#000;
$AD_tonglan_bg:#22d9b6;
* {
    margin: $distance_0;
    padding: $distance_0;
    border: $distance_0;
    outline: $distance_0;
    font-size: $mll-footer_W;
    vertical-align: baseline;
}

body {
    margin: 0 auto;
    font-family: Microsoft YaHei, Arial;
    _font-family: 宋体, Arial;
    font-size: 12px;
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cart_table {
    margin-top: 0;
}

.w {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.cart_table {
    .cart-table-title {
        li.lbn {
            width: 80px;
        }
        li.goods {
            width: 456px;
        }
        li.price {
            width: 160px;
        }
        li.number {
            width: 180px;
        }
        li.edit {
            width: 125px;
        }
        li.money {
            width: 116px;
        }
        li {
            .mock_checkbox_wrap {
                margin-top: 13px;
            }
            float: left;
            height: 40px;
            line-height: 40px;
            color: #676767;
            text-align: center;
        }
        li.input-checked {
            width: 73px;
        }
        ul {
            background-color: #eee;
        }
    }
    .JS_cart_body {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}

ol,
ul {
    list-style: none;
}

.mock_checkbox_wrap {
    position: relative;
    width: 15px;
    height: 13px;
    margin: 0 10px 0 17px;
    overflow: hidden;
}

.mock_checkbox_wrap {
    .mock_checkbox_label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 13px;
        background: url(../img/flow_cart_bg_new.png) no-repeat 0 0;
    }
    margin-top: 13px;
}

input {
    outline: none;
}

.shop-cart-info {
    .goods_item>li.goods_handle {
        width: 123px;
        text-align: center;
    }
    .goods_item>li.goods-money {
        .goods_subtotal {
            line-height: 1.5;
            font-weight: 700;
            color: #555;
        }
        width: 116px;
        text-align: center;
    }
    .goods_item>li.m_goods_num {
        .number {
            display: inline-block;
        }
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 40px;
        width: 180px;
    }
    .goods_item>li.shop_price {
        width: 160px;
        text-align: center;
    }
    .goods_item>li.information {
        .goods_title {
            a {
                display: inline-block;
                width: 185px;
            }
            float: left;
            padding-left: 15px;
            width: 185px;
        }
        width: 536px;
    }
    .goods_item>li {
        float: left;
        position: relative;
    }
    .goods_item>li.td_checkbox {
        width: 73px;
    }
    .goods_item {
        .goods_item>li {
            float: left;
            position: relative;
        }
        padding: 25px 0;
        height: 80px;
        border-top: solid 1px #ddd;
    }
    .goods-list-info {
        .goods-info {
            .checked {
                background-color: #fefaf1;
            }
        }
    }
}

.mock_checkbox_wrap {
    .mock_checkbox_label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 13px;
        background: url(../img/flow_cart_bg_new.png) no-repeat 0 0;
    }
    position: relative;
    width: 15px;
    height: 13px;
    margin: 0 10px 0 17px;
    overflow: hidden;
}

input.mock_checkbox {
    position: absolute;
    top: -13px;
    left: -13px;
    margin: 0;
}

.Left {
    float: left;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    overflow: hidden;
    vertical-align: top;
    background: #eee;
}

.cart_table {
    .activity-title-box {
        height: 37px;
        text-align: left;
        line-height: 1;
        border-top: solid 1px #aaa;
    }
    .goods_handle {
        a {
            display: block;
            margin-top: 2px;
        }
    }
    .number {
        .unit {
            display: block;
            height: 20px;
            padding-left: 8px;
            line-height: 20px;
            color: #999;
        }
        a.add {
            background-position: -21px -149px;
        }
        .num {
            position: static;
            width: 40px;
            height: 18px;
            border: 1px solid #ccc;
            padding: 0;
            margin: 0;
            line-height: 18px;
            text-align: center;
            font-size: 14px;
            color: #333;
            background: 0 0;
            visibility: visible;
        }
        a {
            display: block;
            width: 21px;
            height: 20px;
            background: url(../img/flow_cart_bg_new.png) 0 -149px no-repeat;
        }
    }
    .goods_model {
        width: 120px;
        margin-left: 30px;
        line-height: 1.5;
        text-align: left;
        color: #999;
        overflow: hidden;
    }
    .img {
        padding: 1px;
        background: #fff;
        border: 1px solid #ddd;
        vertical-align: middle;
    }
}

.yen {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    outline: none;
}

.none {
    display: none;
}

#JS_list_table_cb {
    margin-top: 8px;
}