@charset "utf-8";
//中文字符编码格式
//:单行注释，编译后不显示

/* 多行注释：压缩后不显示 */


/*！ 强制注释：一直显示 */

$min_W:1200px;
$mll-footer_W:100%;
$footer_W:100px;
$footer_H:100px;
$pad_top:0;
$footer_bg:#f8f8f8;
$position_cen:center;
$a_color:#333;
$a_text_Dec:none;
$distance_0:0;
$display_ib:inline-block;
$font_daxiao:14px;
$color_black:#000;
$AD_tonglan_bg:#22d9b6;
* {
    margin: $distance_0;
    padding: $distance_0;
    border: $distance_0;
    outline: $distance_0;
    font-size: $mll-footer_W;
    vertical-align: baseline;
}

body {
    margin: 0 auto;
    font-family: Microsoft YaHei, Arial;
    _font-family: 宋体, Arial;
    font-size: 12px;
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.user_content {
    .error3 {
        // visibility: hidden;
        height: 22px;
        line-height: 22px;
        margin-left: 412px;
        color: gray;
        position: relative;
        top: -28px;
        width: 265px;
        height: 26px;
        line-height: 26px;
        text-indent: .5em;
        border: solid 1px #d5d5d5;
        background: #fff;
    }
    .error3.error2 {
        background: url(img/login_icon2.png) scroll no-repeat 100px -224px;
        color: #d10000;
        background: #fff3f3;
        border: solid 1px #ffe4e4;
    }
    border: 1px solid #d7d7d7;
    padding: 40px;
    padding-right: 0;
}

.w {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.user_login {
    width: 768px;
    border-right: 1px solid #ddd;
    color: #555;
}

.Left {
    float: left;
}

.register_box {
    label.tips {
        span {
            padding-right: 2px;
        }
        width: 100px;
        display: inline-block;
        text-align: right;
        font-size: 14px;
    }
    padding: 20px 0;
}

input[type=text] {
    -webkit-appearance: none;
    border-radius: 0;
}

.users_input_error {
    background: #fff3f3;
    border-color: #ff5242;
    color: #d10000!important;
}

.register_input {
    height: 40px;
    line-height: 40px;
    width: 296px;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    padding: 0 5px;
}

input {
    outline: none;
}

button {
    outline: none;
}

select {
    outline: none;
}

textarea {
    outline: none;
}

.success {
    background: url(img/login_icon2.png) scroll no-repeat 0 -206px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 3px;
}

.red,
a.red {
    color: #e62318!important;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
}

#register_captcha_e {
    position: relative;
}

#JS_captcha {
    position: absolute;
    left: 296px;
    top: 7px;
    background: url(../img/loading.gif) scroll no-repeat center center;
}

img {
    overflow: hidden;
    vertical-align: top;
    background: #eee;
}

.change-one {
    position: absolute;
    left: 366px;
    top: 13px;
    color: #4a92f5;
}

a {
    text-decoration: none;
    color: #333;
}

.to_error {
    background-position: 0 -227px;
}

#sms_captcha_e {
    position: relative;
}

.register_box {
    .readed {
        input {
            vertical-align: top;
        }
        line-height: 18px;
        padding: 10px 0 20px 100px;
    }
}

input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}

input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

.blue {
    color: #4a92f5;
}

input[type=button] {
    -webkit-appearance: none;
    border-radius: 0;
}

.regi_btn {
    cursor: pointer;
    background: #cf000e;
    width: 308px;
    height: 42px;
    border: none;
    outline: 0;
    border-radius: 4px;
}

.white,
a.white {
    color: #fff;
}

.yahei {
    font-family: Microsoft YaHei;
}

.none {
    display: none;
}

.operate {
    a.yahei {
        display: inline-block;
        text-align: center;
        line-height: 36px;
    }
}

.register_submit.register_submit2 {
    background-position: -117px -40px;
    color: #b0b0b0;
}

.register_submit {
    // background-position: -117px 0;
    // width: 112px;
    height: 40px;
    background: #cf000e;
    border: 0;
    // height: 32px;
    // width: 70px;
    cursor: pointer;
    border-radius: 4px;
}

.operate {
    a {
        img {
            vertical-align: middle;
        }
    }
}

.Right {
    float: right;
}


/* 注册右边结构 */

.user_register {
    width: 220px;
    margin-right: 80px;
}

.user_ok_register {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.users_submit.users_submit2 {
    background-position: -117px -251px;
    color: #b0b0b0;
}

.logintoreg {
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

.users_submit {
    background: #cf000e;
    border: 0;
    height: 32px;
    width: 70px;
    cursor: pointer;
    border-radius: 4px;
}

.yahei {
    font-family: Microsoft YaHei;
}

.img_login2 {
    text-align: center;
    padding: 90px 0;
    border-bottom: 1px solid #eee;
}

.share_login {
    margin-top: 20px;
}

.api_tips {
    color: #999;
    font-size: 12px;
}

.login_api {
    .api_from {
        a.alipay {
            background-position: -86px 0;
        }
        a.sina {
            background-position: -28px 0;
        }
        a {
            background: url(../img/allPuzzle.png);
            height: 28px;
            width: 28px;
            display: inline-block;
            float: left;
            margin-right: 10px;
            margin-top: 10px;
        }
        a.qq {
            background-position: 0 0;
        }
    }
}


/* 给注册框添加一个输入框之间的距离 */

.p {
    margin-top: 40px
}